name: tinh_tien
description: A new TinhTien application.
version: 1.0.0+1

environment:
  sdk: ">=2.2.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^0.1.3
  cached_network_image: ^2.0.0
  flutter_slidable: ^0.5.4
  flutter_datetime_picker: ^1.3.1
  transparent_image: ^1.0.0
  dio: ^3.0.8
  json_annotation: ^3.0.1
  dartz: ^0.8.9
  data_connection_checker: ^0.3.4
  qr_flutter: ^3.2.0
  qr_mobile_vision: ^0.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  build_runner:
  json_serializable: ^3.2.5

flutter:
  uses-material-design: true

  assets:
   - assets/images/logo.png

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
